<?xml version="1.0"?>

<model>
  <name>My Calibration Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>my_calibration_plane.sdf</sdf>

  <description>
    A plane with a reference texture on it depicting an asymmetrical circle pattern. Used to validate and calibrate camera models. The plane is 2m x 2m, and the circle grid size is 6x8.
  </description>
</model>
